---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    let PostByTime = await getCollection("posts");
    PostByTime = PostByTime.sort(
        (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
    );

    const uniqueTags = [
        ...new Set(PostByTime.map((post) => post.data.tags).flat()),
    ];
    return uniqueTags.map((tag) => {
        const filteredPosts = PostByTime.filter((post) =>
            post.data.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle=`Nin3's Tag | ${tag}`>
    <div class="w-96 md:w-[45rem] mx-auto flex flex-col my-9">
        <div class="flex justify-between">
            <p class="text-2xl mb-3 text-gray-700 font-bold">· {tag}</p>
            <p class="text-2xl mb-3 text-gray-500 font-bold">
                {posts.length} 篇
            </p>
        </div>
        <ul>
            {
                posts.map((post) => (
                    <li class="flex">
                        <a
                            href={`/posts/${post.id}/`}
                            class="mb-6 hover:scale-95 duration-200"
                        >
                            <h1 class="text-gray-700 font-bold">
                                {post.data.title}
                            </h1>
                            <div class="text-gray-400">
                                {post.data.pubDate.toString().slice(4, 10)},
                                {post.data.pubDate.toString().slice(10, 15)} ·
                                {post.data.tags}
                            </div>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</BaseLayout>
