---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

let PostByTime = await getCollection("posts");
PostByTime = PostByTime.sort(
	(a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);

const RecommendPost = PostByTime[0];
const SecondPost = PostByTime[1];
const ThirdPost = PostByTime[2];
const OtherPost = PostByTime.slice(3, 9);
const HistoryPost = PostByTime.slice(9);

const pageTitle = "Blog";
---

<BaseLayout pageTitle=`Nin3's ${pageTitle}`>
	<main
		class="w-96 md:w-[45rem] lg:w-[60rem] mx-auto flex flex-col gap-9 my-9"
	>
		<!-- Social cards & self introductionn -->
		<section class="grid grid-cols-2 gap-8">
			<div class="bg-blue-100 size-44 md:size-auto md:h-44">
				self-introduction-1st
			</div>
			<div class="bg-blue-100 size-44 md:size-auto md:h-44">
				self-introduction-2nd
			</div>
		</section>
		<!-- Recent Posts -->
		<section>
			<p class="text-2xl mb-3">Recent Post</p>
			<div class="grid grid-cols-6 gap-6">
				<a
					href={`/posts/${RecommendPost.slug}`}
					class="bg-purple-100 col-span-6 h-72 flex hover:scale-[0.97] duration-200"
				>
					<article>
						{RecommendPost.data.title}[1st]
					</article>
					<a
						href={`/posts/${SecondPost.slug}`}
						class="bg-purple-100 col-span-6 h-72 flex md:col-span-3 hover:scale-[0.97] duration-200"
					>
						<article>
							{SecondPost.data.title}[2nd]
						</article>
					</a>
					<a
						href={`/posts/${ThirdPost.slug}`}
						class="bg-purple-100 col-span-6 h-72 flex md:col-span-3 hover:scale-[0.97] duration-200"
					>
						<article>
							{ThirdPost.data.title}[3rd]
						</article>
					</a>
					{
						OtherPost.map((post) => (
							<a
								href={`/posts/${post.slug}`}
								class="bg-purple-100 col-span-6 h-72 flex md:col-span-3 lg:col-span-2 hover:scale-[0.97] duration-200"
							>
								<article>{post.data.title}</article>
							</a>
						))
					}
				</a>
			</div>
			<!-- History Posts -->
			<section>
				<p class="text-2xl mb-3">History Archieve</p>
				<div class="grid grid-cols-6 gap-6">
					{
						HistoryPost.map((post) => (
							<a
								href={`/posts/${post.slug}`}
								class="bg-red-100 col-span-6 h-40 flex md:col-span-3 hover:scale-[0.97] duration-200"
							>
								<article>{post.data.title}</article>
							</a>
						))
					}
				</div>
			</section>
			<a href="/posts/" class="mx-auto">View Posts</a>
		</section>
	</main>
</BaseLayout>
