---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

let PostByTime = await getCollection("posts");
PostByTime = PostByTime.sort(
	(a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);

const RecommendPost = PostByTime[0];
const SecondPost = PostByTime[1];
const ThirdPost = PostByTime[2];
const HistoryPost = PostByTime.slice(3, 5);

const pageTitle = "Blog";
---

<BaseLayout pageTitle=`Nin3's ${pageTitle}`>
	<main class="w-96 md:w-[45rem] mx-auto flex flex-col gap-9 my-9">
		<!-- Social cards & self introductionn -->
		<section class="grid grid-cols-2 gap-8">
			<div class="bg-blue-100 size-44 md:size-auto md:h-44">
				self-introduction-1st
			</div>
			<div class="bg-blue-100 size-44 md:size-auto md:h-44">
				self-introduction-2nd
			</div>
		</section>
		<!-- Recent Posts -->
		<section>
			<p class="text-2xl mb-3">Recent Post</p>
			<div class="grid grid-cols-6 gap-6">
				<a
					href={`/posts/${RecommendPost.slug}`}
					class="col-span-6 h-72 flex flex-col md:flex-row hover:scale-[0.97] duration-200 rounded-lg overflow-hidden shadow"
				>
					<div class="aspect-video w-96 md:w-fit">
						<Image
							src={RecommendPost.data.cover}
							alt="Recommend Post's cover"
						/>
					</div>
					<article class="m-4">
						<h2
							class="font-bold text-sm md:text-base text-gray-500"
						>
							路 {RecommendPost.data.tags}
						</h2>
						<div class="flex justify-between md:flex-col">
							<h1 class="md:text-lg font-bold">
								{RecommendPost.data.title}
							</h1>
							<h3>
								{
									RecommendPost.data.pubDate
										.toString()
										.slice(4, 10)
								}
							</h3>
						</div>
					</article>
				</a>
				<a
					href={`/posts/${SecondPost.slug}`}
					class="col-span-6 h-72 flex flex-col md:col-span-3 hover:scale-[0.97] duration-200 rounded-lg overflow-hidden shadow"
				>
					<div class="aspect-video w-96 md:w-[348px]">
						<Image
							src={SecondPost.data.cover}
							alt="Second Post's cover"
						/>
					</div>
					<article class="m-4">
						<h2 class="font-bold text-sm text-gray-500">
							路 {SecondPost.data.tags}
						</h2>
						<div class="flex justify-between md:flex-col">
							<h1 class="font-bold">{SecondPost.data.title}</h1>
							<h3>
								{
									SecondPost.data.pubDate
										.toString()
										.slice(4, 10)
								}
							</h3>
						</div>
					</article>
				</a>
				<a
					href={`/posts/${ThirdPost.slug}`}
					class="col-span-6 h-72 flex flex-col md:col-span-3 hover:scale-[0.97] duration-200 rounded-lg overflow-hidden shadow"
				>
					<div class="aspect-video w-96 md:w-[348px]">
						<Image
							src={ThirdPost.data.cover}
							alt="Third Post's cover"
						/>
					</div>
					<article class="m-4">
						<h2 class="font-bold text-sm text-gray-500">
							路 {ThirdPost.data.tags}
						</h2>
						<div class="flex justify-between md:flex-col">
							<h1 class="font-bold">{ThirdPost.data.title}</h1>
							<h3>
								{ThirdPost.data.pubDate.toString().slice(4, 10)}
							</h3>
						</div>
					</article>
				</a>
			</div>
			<!-- History Posts -->
		</section>
		<section>
			<p class="text-2xl mb-3">History Archieve</p>
			<div class="grid grid-cols-6 gap-6">
				{
					HistoryPost.map((post) => (
						<a
							href={`/posts/${post.slug}`}
							class="col-span-6 h-80 flex flex-col md:col-span-3 hover:scale-[0.97] duration-200 rounded-lg overflow-hidden shadow"
						>
							<div class="aspect-video w-96 md:w-[348px]">
								<Image
									src={post.data.cover}
									alt="HistoryPosts' cover"
								/>
							</div>
							<article class="m-4 flex flex-col justify-between">
								<div>
									<h2 class="font-bold text-sm text-gray-500">
										路 {post.data.tags}
									</h2>
									<h1 class="font-bold">{post.data.title}</h1>
								</div>
								<h3>
									{post.data.pubDate.toString().slice(4, 10)}
								</h3>
							</article>
						</a>
					))
				}
			</div>
		</section>
		<a href="/posts/" class="mx-auto">View Posts</a>
	</main>
</BaseLayout>
