---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

let PostByTime = await getCollection("posts");
PostByTime = PostByTime.sort(
	(a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);

const pageTitle = "Blog";

import { getTagColor } from "../styles/tag.ts";
---

<BaseLayout pageTitle=`Nin3's ${pageTitle}`>
	<main class="w-96 md:w-[45rem] mx-auto flex flex-col gap-9 my-9">
		<!-- Recent Posts -->
		<section>
			<p class="text-2xl mb-3">Recent Post</p>
			<div class="grid grid-cols-6 gap-6">
				{
					PostByTime.slice(0,1).map((post) => (
						<a
							href={`/posts/${post.id}/`}
							class="col-span-6 h-80 md:h-64 flex flex-col md:flex-row hover:scale-[0.97] duration-200 rounded-lg overflow-hidden shadow hover:brightness-95 bg-white"
						>
							<div class="aspect-video w-96 md:w-fit">
								<Image src={post.data.cover} alt="Posts' cover" />
							</div>
							<article class="m-4 flex flex-col justify-between h-full md:h-auto">
								<div class="flex flex-col">
										{post.data.tags.map((tag) => (
											<h2
												class="font-bold text-sm md:text-base"
												style={`color: ${getTagColor(tag)}`}
											>
												· {tag}
											</h2>
											<h1 class="md:text-lg font-bold">{post.data.title}</h1>
										))}
								</div>
								<h3>{post.data.pubDate.toString().slice(4, 15)}</h3>
							</article>
						</a >
					))
				}
				{
					PostByTime.slice(1,3).map((post) => (
						<a
							href={`/posts/${post.id}/`}
							class="col-span-6 h-80 flex flex-col md:col-span-3 hover:scale-[0.97] duration-200 rounded-lg overflow-hidden shadow hover:brightness-95 bg-white"
						>
							<div class="aspect-video w-96 md:w-fit">
								<Image src={post.data.cover} alt="Posts' cover" />
							</div>
							<article class="m-4 flex flex-col justify-between h-full">
								<div class="flex flex-col">
										{post.data.tags.map((tag) => (
											<h2
												class="font-bold text-sm"
												style={`color: ${getTagColor(tag)}`}
											>
												· {tag}
											</h2>
											<h1 class="font-bold">{post.data.title}</h1>
										))}
								</div>
								<h3>{post.data.pubDate.toString().slice(4, 15)}</h3>
							</article>
						</a >
					))
				}
			</div>
			<!-- History Posts -->
		</section>
		<section>
			<p class="text-2xl mb-3">History Archieve</p>
			<div class="grid grid-cols-6 gap-6">
				{
					PostByTime.slice(3,5).map((post) => (
						<a
							href={`/posts/${post.id}/`}
							class="col-span-6 h-80 flex flex-col md:col-span-3 hover:scale-[0.97] duration-200 rounded-lg overflow-hidden shadow hover:brightness-95 bg-white"
						>
							<div class="aspect-video w-96 md:w-fit">
								<Image src={post.data.cover} alt="Posts' cover" />
							</div>
							<article class="m-4 flex flex-col justify-between h-full">
								<div class="flex flex-col">
										{post.data.tags.map((tag) => (
											<h2
												class="font-bold text-sm"
												style={`color: ${getTagColor(tag)}`}
											>
												· {tag}
											</h2>
											<h1 class="font-bold">{post.data.title}</h1>
										))}
								</div>
								<h3>{post.data.pubDate.toString().slice(4, 15)}</h3>
							</article>
						</a >
					))
				}
			</div>
		</section>
		<a href="/posts/" aria-label="More Posts" class="flex group mx-auto hover:text-blue-400 duration-200">
			<Icon name="click" class="group-hover:fill-blue-400 duration-200 text-2xl"/>More Posts</a>
	</main>
</BaseLayout>
