---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { tagColors, defaultTagColor } from "../styles/tag";

const pageTitle = "Tag";
const allPosts = await getCollection("posts");

const tagCounts = {};
allPosts.forEach((post) => {
    post.data.tags.forEach((tag) => {
        tagCounts[tag] = (tagCounts[tag] || 0) + 1;
    });
});
const sortedTags = Object.entries(tagCounts).sort(
    (a: [string, number], b: [string, number]) => b[1] - a[1],
);
---

<BaseLayout pageTitle=`Nin3's ${pageTitle}`>
    <div class="w-90 md:w-[45rem] mx-auto flex flex-col my-9">
        <p class="text-2xl mb-3">{pageTitle}</p>
        <main class="grid grid-cols-2 md:grid-cols-4 gap-3">
            {
                sortedTags.map(([tag, count]) => (
                    <a
                        href={`/tags/${tag}`}
                        class="rounded-full hover:scale-95 duration-200 shadow"
                        style={`background-color: ${tagColors[tag] || defaultTagColor}`}
                    >
                        <div class="my-2 mx-4 flex justify-between items-center">
                            <p class="text-white text-sm">{tag}</p>
                            <div class="rounded-full px-2 bg-white">
                                <p
                                    class="font-bold"
                                    style={`color: ${tagColors[tag] || defaultTagColor}`}
                                >
                                    {count}
                                </p>
                            </div>
                        </div>
                    </a>
                ))
            }
        </main>
    </div>
</BaseLayout>
