---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="w-96 md:w-[45rem] mx-auto flex flex-col my-9">
        <h1>{frontmatter.title}</h1>
        <h3>{frontmatter.pubDate}</h3>
        <h3><em>{frontmatter.tags}</em></h3>
        <slot />
        <hr />
        <div>
            {
                frontmatter.tags.map((tag) => (
                    <p>
                        <a href={`/tags/${tag}`} class="text-blue-400">
                            {tag}
                        </a>
                    </p>
                ))
            }
        </div>
    </div>
</BaseLayout>
