---
import BaseLayout from "./BaseLayout.astro";
import { tagColors, defaultTagColor } from "../style/tag";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="w-96 md:w-[45rem] mx-auto flex flex-col my-9">
        <h1>{frontmatter.title}</h1>
        <h3>{frontmatter.pubDate}</h3>
        <h3><em>{frontmatter.tags}</em></h3>
        <slot />
        <hr />
        <div class="grid grid-cols-3 md:grid-cols-4 gap-3">
            {
                frontmatter.tags.map((tag: string) => (
                    <a
                        href={`/tags/${tag}`}
                        class="rounded-full hover:scale-95 duration-200 shadow"
                        style={`background-color: ${tagColors[tag] || defaultTagColor}`}
                    >
                        <div class="my-2 mx-4 flex justify-between items-center">
                            <p class="text-white text-sm">{tag}</p>
                        </div>
                    </a>
                ))
            }
        </div>
    </div>
</BaseLayout>
